<template>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1>Google Recaptcha</h1>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Dynamic options</h2>
        <hr>
        <form>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox-auto" value="auto" checked.bind="checked">
            <label class="form-check-label" for="checkbox-auto">
              Activate Auto
            </label>
          </div>
        </form>
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>reCAPTCHA v2</h3>
      </div>
      <div class="col-md-4">
        <h3>reCAPTCHA v2 invis</h3>
      </div>
      <div class="col-md-4">
        <h3>reCAPTCHA v3</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
        <p>Simple reCAPTCHA plugins, followed by reset buttons to simulate reset event.</p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <!-- v2 checkbox simple, just reset -->
        <div>
          <textarea class="codemirror"><recaptcha-v2
  id.bind="idSimpleV2"
  value.bind="tokenSimpleV2"
></recaptcha-v2></textarea>
        </div>

        <span>Custom <a href='javascript:;' click.trigger="reset('SimpleV2')">reset</a>.</span>
        <recaptcha-v2 id.bind="idSimpleV2" value.bind="tokenSimpleV2"></recaptcha-v2>

        <span if.bind="tokenSimpleV2" class="badge badge-success">Not a Robot!</span>
        <span if.bind="!tokenSimpleV2" class="badge badge-danger">Be gone Robot!</span>
      </div>
      <div class="col-md-4">
        <!-- v2 invisible simple, just reset -->
        <div>
            <textarea class="codemirror"><recaptcha-v2-invisible
  id.bind="idSimpleV2i"
  value.bind="tokenSimpleV2i"
></recaptcha-v2-invisible></textarea>
          </div>

          <span>Custom <a href='javascript:;' click.trigger="execute('SimpleV2i')">execute</a>.</span>
          <span>Custom <a href='javascript:;' click.trigger="reset('SimpleV2i')">reset</a>.</span>
          <recaptcha-v2-invisible id.bind="idSimpleV2i" value.bind="tokenSimpleV2i"></recaptcha-v2-invisible>

          <span if.bind="tokenSimpleV2i" class="badge badge-success">Not a Robot!</span>
          <span if.bind="!tokenSimpleV2i" class="badge badge-danger">Be gone Robot!</span>
      </div>
      <div class="col-md-4">
        <!-- v2 invisible simple, just reset -->
        <div>
          <textarea class="codemirror"><recaptcha
  id.bind="idSimpleV3"
  value.bind="tokenSimpleV3"
></recaptcha></textarea>
        </div>

        <span>Custom <a href='javascript:;' click.trigger="execute('SimpleV3')">execute</a>.</span>
        <!-- <span>Custom <a href='javascript:;' click.trigger="reset('SimpleV3')">reset</a>.</span> -->
        <recaptcha id.bind="idSimpleV3" value.bind="tokenSimpleV3"></recaptcha>

        <span if.bind="tokenSimpleV3" class="badge badge-success">Not a Robot!</span>
        <span if.bind="!tokenSimpleV3" class="badge badge-danger">Be gone Robot!</span>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <hr>
          <p>Simple reCAPTCHA plugins, using validators.</p>
          <hr>
        </div>
      </div>
  
      <div class="row" validation-errors.bind="validationErrors">
        <div class="col-md-4">
          <!-- v2 checkbox validate -->
          <div>
            <textarea class="codemirror"><recaptcha-v2
  id.bind="idValidateV2"
  value.bind="tokenValidateV2 & validate"
></recaptcha-v2></textarea>
          </div>
  
          <span>Custom <a href='javascript:;' click.trigger="reset('ValidateV2')">reset</a>.</span>
          <br />
          <span>Custom <a href='javascript:;' click.trigger="validate('ValidateV2')">validate</a>.</span>
          <recaptcha-v2 id.bind="idValidateV2" value.bind="tokenValidateV2 & validate"></recaptcha-v2>
  
          <span if.bind="tokenValidateV2" class="badge badge-success">Not a Robot!</span>
          <span if.bind="!tokenValidateV2" class="badge badge-danger">Be gone Robot!</span>
          <span if.bind="vResult.valid" class="badge badge-success">Valid</span>
          <span if.bind="!vResult.valid" class="badge badge-danger">Invalid</span>
        </div>
        <div class="col-md-4">
          <!-- v2 invisible validate -->
          <div>
            <textarea class="codemirror"><recaptcha-v2-invisible
  id.bind="idValidateV2i"
  value.bind="tokenValidateV2i & validate"
></recaptcha-v2-invisible></textarea>
          </div>
  
          <span>Custom <a href='javascript:;' click.trigger="execute('ValidateV2i')">execute</a>.</span>
          <span>Custom <a href='javascript:;' click.trigger="reset('')">reset</a>.</span><br />
          <span>Custom <a href='javascript:;' click.trigger="validate('ValidateV2i')">validate</a>.</span>
          <recaptcha-v2-invisible id.bind="idValidateV2i" value.bind="tokenValidateV2i & validate"></recaptcha-v2-invisible>
  
          <span if.bind="tokenValidateV2i" class="badge badge-success">Not a Robot!</span>
          <span if.bind="!tokenValidateV2i" class="badge badge-danger">Be gone Robot!</span>
          <span if.bind="vResult.valid" class="badge badge-success">Valid</span>
          <span if.bind="!vResult.valid" class="badge badge-danger">Invalid</span>
        </div>
        <div class="col-md-4">
          <!-- v3 validate -->
          <div>
            <textarea class="codemirror"><recaptcha
  id.bind="idValidateV3"
  value.bind="tokenValidateV3 & validate"
></recaptcha></textarea>
          </div>
  
          <span>Custom <a href='javascript:;' click.trigger="execute('ValidateV3')">execute</a>.</span><br />
          <span>Custom <a href='javascript:;' click.trigger="validate('ValidateV3')">validate</a>.</span>
          <recaptcha id.bind="idValidateV3" value.bind="tokenValidateV3 & validate"></recaptcha>
  
          <span if.bind="tokenValidateV3" class="badge badge-success">Not a Robot!</span>
          <span if.bind="!tokenValidateV3" class="badge badge-danger">Be gone Robot!</span>
          <span if.bind="vResult.valid" class="badge badge-success">Valid</span>
          <span if.bind="!vResult.valid" class="badge badge-danger">Invalid</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- <ul if.bind="vResult.results"> -->
          <ul if.bind="validationErrors">
              <li repeat.for="error of vResult.results">
                  ${error.message}
              </li>
          </ul>
        </div>
      </div>

  </div>


    <!-- <div class="container" if.bind="!isRemoveAll">
        <div class="row">
          <div class="col-md-12">
            <h2>Recaptcha V2</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            
          </div>
          <div class="col-md-6">
            <div>
              <textarea class="codemirror"><recaptcha-v2
  if.bind="renderedWithDelay"
  value.bind="notARobotV2C3"
></recaptcha-v2></textarea>
            </div>

            <span>Applying delayed rendering (after at least one recaptcha was loaded) to see if it still works.</span>
            <recaptcha-v2 if.bind="renderedWithDelay" value.bind="notARobotV2C3"></recaptcha-v2>
            <span if.bind="notARobotV2C3">Not a Robot!</span>
            <span if.bind="!notARobotV2C3">Be gone Robot!</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div>
              <textarea class="codemirror"><recaptcha-v2
  sitekey.bind="recaptchaV2"
  callback="callbackIAmHumanV2C2"
  value.bind="notARobotV2C2"
></recaptcha-v2></textarea>
            </div>

            <span>Using global (string name) custom callback, see console.</span>
            <recaptcha-v2 sitekey.bind="recaptchaV2" callback="callbackIAmHumanV2C2"></recaptcha-v2>
          </div>
          <div class="col-md-6">
              <div>
                <textarea class="codemirror"><recaptcha-v2
    sitekey.bind="recaptchaV2"
    callback.call="bindedCallbackIAmHumanV2C4($event)"
    callback-expired.call="bindedCallbackIExpiredV2C4($event)"
    value.bind="notARobotV2C4"
  ></recaptcha-v2></textarea>
              </div>
  
              <span>Using local (callback.call) custom callback, see console.</span>
              <recaptcha-v2 sitekey.bind="recaptchaV2" callback.call="bindedCallbackIAmHumanV2C4($event)"></recaptcha-v2>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr>
          <hr>
        </div>
      </div>
    </div>
    <div class="container" if.bind="!isRemoveAll">
        <div class="row">
          <div class="col-md-12">
              <h2>V2 - Invisible</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div>
              <textarea class="codemirror"><recaptcha-v2-invisible
  auto.bind="isAuto"
  size="invisible"
  value.bind="notARobotV2IC1"
></recaptcha-v2-invisible></textarea>
            </div>

            <span>Will trigger only when auto="true".</span>
            <recaptcha-v2-invisible auto.bind="isAuto" size="invisible" value.bind="notARobotV2IC1"></recaptcha-v2-invisible>
            <span if.bind="notARobotV2IC1">Not a Robot!</span>
            <span if.bind="!notARobotV2IC1">Be gone Robot!</span>
          </div>
          <div class="col-md-6">
            <div>
              <textarea class="codemirror"><recaptcha-v2-invisible
  id.bind="idV2IC3"
  size="invisible"
  value.bind="notARobotV2IC3"
></recaptcha-v2-invisible></textarea>
            </div>
            <span>Custom <a href="javascript:;" click.trigger="publishExecuteV2IC3()">execute</a>.</span>
            <span>Custom <a href="javascript:;" click.trigger="publishResetV2IC3()">reset</a>.</span>
            <recaptcha-v2-invisible id.bind="idV2IC3" size="invisible" value.bind="notARobotV2IC3"></recaptcha-v2-invisible>
            <span if.bind="notARobotV2IC3">Not a Robot!</span>
            <span if.bind="!notARobotV2IC3">Be gone Robot!</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div>
              <textarea class="codemirror"><recaptcha-v2-invisible
  id.bind="idV2IC2"
  sitekey.bind="recaptchaV2Invisible"
  callback="callbackIAmHumanV2IC2"
  size="invisible"
></recaptcha-v2-invisible></textarea>
            </div>

            <span>Custom <a href="javascript:;" click.trigger="publishExecuteV2IC2()">execute</a>.</span>
            <span>Using local (callback.call) custom callback, see console.</span>
            <recaptcha-v2-invisible id.bind="idV2IC2" sitekey.bind="recaptchaV2Invisible" callback="callbackIAmHumanV2IC2" size="invisible"></recaptcha-v2-invisible>
          </div>
          <div class="col-md-6">
            <div>
              <textarea class="codemirror"><recaptcha-v2-invisible
  id.bind="idV2IC4"
  sitekey.bind="recaptchaV2Invisible"
  callback.call="bindedCallbackIAmHumanV2IC4($event)"
  size="invisible"
></recaptcha-v2-invisible></textarea>
            </div>

            <span>Custom <a href="javascript:;" click.trigger="publishExecuteV2IC4()">execute</a>.</span>
            <span>Using global (string name) custom callback, see console.</span>
            <recaptcha-v2-invisible id.bind="idV2IC4" sitekey.bind="recaptchaV2Invisible" callback.call="bindedCallbackIAmHumanV2IC4($event)" size="invisible"></recaptcha-v2-invisible>
          </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr>
          <hr>
        </div>
      </div>
    </div>
    <div class="container" if.bind="!isRemoveAll">
        <div class="row">
          <div class="col-md-12">
              <h2>V3</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div>
              <textarea class="codemirror"><recaptcha
  value.bind="notARobotv3_1"
  auto.bind="isAuto"
></recaptcha></textarea>
            </div>

            <recaptcha value.bind="notARobotv3_1" auto.bind="isAuto"></recaptcha>
            <span if.bind="notARobotv3_1">Not a Robot!</span>
            <span if.bind="!notARobotv3_1">Be gone Robot!</span>
          </div>
          <div class="col-md-6">
            <div>
              <textarea class="codemirror"><recaptcha
  id.bind="idV3C2"
  sitekey.bind="recaptcha"
  value.bind="notARobotv3_2"
  action="login"
></recaptcha></textarea>
            </div>

            <span>Custom <a href="javascript:;" click.trigger="publishExecuteV3C2()">execute</a>.</span>
            <recaptcha id.bind="idV3C2" sitekey.bind="recaptcha" value.bind="notARobotv3_2" action="login"></recaptcha>
            <span if.bind="notARobotv3_2">Not a Robot!</span>
            <span if.bind="!notARobotv3_2">Be gone Robot!</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div>
              <textarea class="codemirror"><recaptcha
  if.bind="renderedWithDelay"
  value.bind="notARobotv3_3"
  action="social"
  auto="1"
></recaptcha></textarea>
            </div>

            <span>Delayed rendering (After at least one recaptcha was loaded).</span>
            <recaptcha if.bind="renderedWithDelay" value.bind="notARobotv3_3" action="social" auto="1"></recaptcha>
            <span if.bind="notARobotv3_3">Not a Robot!</span>
            <span if.bind="!notARobotv3_3">Be gone Robot!</span>
          </div>
        </div>
    </div> -->
</template>
